div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    border: solid 3px rgb(126, 95, 11);
    margin: 100px;
}

header{
    background-color: rgb(120,121,120);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    position:absolute;
    top:0;
    left: 0;    
    width:100%;    
    padding-bottom:10px;    
    text-align: center;
    border-bottom: 1px rgb(32, 20, 2)
}

body{
    background-image:url(https://www.zoo.org/image/background-wallpaper/background-wallpaper-10.jpg) ;
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    background:rgb(120, 121, 120);    
    position:absolute;
    bottom:0;
    left: 0;    
    width:100%;    
    padding-top:20px;    
    text-align: center;
    border-top: 1px rgb(32, 20, 2);
}